doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    script(src='/javascripts/handlebars.js')
    script(src='/javascripts/loader.js')
    script(src='/javascripts/render.js')
    script(src='/javascripts/location.js')
  body
    #page
      block content
    script.
        WebFontConfig = {
        google: { families: [ 'Open+Sans:400,600,700,800:latin' ] }
        };
        (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
        })();
