extends layout

block content
  div.loading-block
    div.loading-icon-front
    div.loading-icon-back
    div.loading-message
  h1 Loading current weather...
  hr
  p Please allow browser to determine your location.
