extends layout

block content
  div.loading-block
    div.loading-icons#i-h
      div.loading-icon-front
      div.loading-icon-back
    div.loading-message Loading current weather...
  h1 Loading current weather...
  hr
  p Please allow browser to determine your location.
