.weather-report {
	padding: 1rem;
	max-width: 40rem;
	margin: 0 auto;
	.condition {
		&.flex-container {
			flex-direction: row;
		}
	}
	.location-name {
		font-size: 2.2rem;
		font-weight: 800;
		margin: 0;
	}
	.icon,
	.temperature {

	}
	.icon {
		font-size: 8rem;
		line-height: 2rem;
		i:before {
			margin: 0;
		}
		@media (min-width: 480px) {

		}
	}
	.temperature {
		padding-top: 1rem;
		@media (min-width: 480px) {

		}
		.degrees {
			font-size: 4rem;
			font-weight: 800;
			line-height: 4rem;
		}
		.label {
			font-size: 2rem;
			font-weight: 700;
		}
	}
	.description {
		text-transform: capitalize;
	    font-size: 1.4rem;
	    font-weight: 700;
	    line-height: 2rem;
		@media (min-width: 480px) {
			text-align: left;
		}
	}
	.wind-direction-icon {
	    height: .75rem;
	    width: .75rem;
	    line-height: inherit;
	    position: relative;
	    border: 2px solid black;
	    border-radius: 50%;
    	overflow: hidden;
		&:before {
			content: ' ';
		    display: inline-block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    border-width: 0rem .25rem 1rem;
		    border-color: transparent transparent #00B7FF transparent;
		    border-style: solid;
		}
	    display: inline-block;
	}
	.wind-speed {

	}
	.wind-direction {
		.direction {
			text-transform: uppercase;
		}
	}
	.forecast {
		.date {
			margin: 0 0 .5rem;
			padding: 1rem 0 0;
			border-top: 1rem solid #000;
		}
		.icon {
			font-size: 5rem;
		}
		.temperature {
			.degrees {
				font-size: 2rem;
				line-height: 2rem;
			}
			.label {
				font-size: 1rem;
			}
		}
		.description {
			font-size: 1rem;
			line-height: 1rem;
		}
	}
}

// Icons

@each $icon-code, $icon-class in
	// Day
	('01d', '.icon-sun'), // clear sky
	('02d', '.icon-cloud-sun'), // few clouds
	('03d', '.icon-cloud'), // scatterd clounds
	('04d', '.icon-clouds'), // broken clounds
	('09d', '.icon-rain'), // shower rain
	('10d', '.icon-rain'), // rain
	('11d', '.icon-cloud-flash'), // thunderstorm
	('13d', '.icon-snow'), // snow
	('50d', '.icon-fog-sun'), // mist
	// Night
	('01n', '.icon-moon'), // clear sky
	('02n', '.icon-cloud-moon'), // few clouds
	('03n', '.icon-cloud'), // scatterd clounds
	('04n', '.icon-clouds'), // broken clounds
	('09n', '.icon-rain'), // shower rain
	('10n', '.icon-rain'), // rain
	('11n', '.icon-cloud-flash'), // thunderstorm
	('13n', '.icon-snow'), // snow
	('50n', '.icon-fog-moon') // mist 
	{
	.icon-#{$icon-code} {
		@extend #{$icon-class};
	}
}